<td class="col-sm-6">{{stat}}</td>
<td class="col-sm-2">{{characterStat}}</td>
<td class="col-sm-2"><button class="btn btn-info" {{action "decreaseStat" stat}}>-</button></td>
<td class="col-sm-2"><button class="btn btn-info" {{action "increaseStat" stat}}>+</button></td>