//== Characters
//
//## Font and other css for character page.

$characterHealth:  #e51227;
$characterMana:    #2cb9ce;
$characterLevel:   #1eb630;

.character-name {
  font-weight: bold;
  font-size: 3.2em;
}

.character-header {
  font-weight: bold;
  font-size: 3em;
}

.character-detail {
  font-weight: bold;
  font-size: 1.2em;
}

.character-health {
    color: $characterHealth;
}

.character-mana {
    color: $characterMana;
}

.character-level {
    color: $characterLevel;
}

.centered {
    float: none;
    margin: 0 auto;
}