//== Characters
//
//## Font and other css for character page.

.character-name {
  font-weight: bold;
  font-size: 3.2em;
}

.character-header {
  font-weight: bold;
  font-size: 3em;
}

.character-detail {
  font-weight: bold;
  font-size: 1.2em;
}

.centered {
    float: none;
    margin: 0 auto;
}