{{#add-item-modal action="addItem" enabled=false title="Add New Item" id="add-item-modal"}}
{{/add-item-modal}}
<div class="row">
  <ul>
    {{#each characters as |char|}}
      <li>
        <button class="btn btn-default">
          {{#link-to 'authenticated.play' char}}
            {{char.name}} ({{char.level}})
          {{/link-to}}
        </button>
      </li>
    {{/each}}
    <li>
      <button class="btn btn-default">{{#link-to 'authenticated.add-character'}}Add{{/link-to}}</button>
    </li>
  </ul>
</div>

