<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <ul class="nav navbar-nav">
      <li>{{#link-to 'map'}}Map{{/link-to}}</li>
      <li>{{#link-to 'character'}}Character{{/link-to}}</li>
    </ul>
  </div>
</nav>
<div class="container">
  {{outlet}}
  <h3 class="text-center">Footer</h3>
</div>