<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <ul class="nav navbar-nav">
      <li>{{#link-to 'authenticated.map'}}Map{{/link-to}}</li>
      <li>{{#link-to 'authenticated.characters'}}Characters{{/link-to}}</li>
      <li>{{#link-to 'authenticated.secret'}}Secret{{/link-to}}</li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      {{#if session.isAuthenticated}}
        <li><a {{action 'invalidateSession'}}>Logout</a></li>
      {{else}}
        <li>{{#link-to 'login'}}Login{{/link-to}}</li>
      {{/if}}
    </ul>
  </div>
</nav>
<div class="container">
  {{outlet}}
  <h4 class="text-center">Footer</h4>
</div>

{{outlet 'modal'}}