{{input type="text" value=identification class="form-control" id="email" placeholder="Email"}}
{{input type="text" value=password class="form-control" id="password" placeholder="Password"}}
<button class="btn btn-default" type="button" {{action 'login'}}>Login</button>