<form {{action 'authenticate' on='submit'}}>
    Email:
    {{input type="text" value=identification class="form-control" id="email" placeholder="Email" classNames="app-email"}}
    Password:
    {{input type="password" value=password class="form-control" id="password" placeholder="Password" classNames="app-password"}}
    <button class="btn btn-default" type="submit" classNames="app-submit">Login</button>
</form>