<form {{action 'authenticate' on='submit'}}>
    Email:
    {{input type="text" value=identification class="form-control" id="email" placeholder="Email"}}
    Password:
    {{input type="password" value=password class="form-control" id="password" placeholder="Password"}}
    <button class="btn btn-default" type="submit">Login</button>
</form>